.social-btn{
    display: inline-block;
    width: 39px;
    height: 40px;
    text-align: center;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #e44d3a;
    position: relative;
}

.social-btn img{
    width: 39px;
    height: 40px;
    opacity: 1;
    transition: .2s;
}

.social-btn img:hover{
    opacity: 0.7;
}

.footer-main-category {
    padding: 20px 0;
    background: #e44d3a;
    font-size: 14px;
}

.list-links h3 {
    margin: 0 0 9px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.list-links ul li {
    margin-bottom: 9px;
}

.list-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.footer-main-category a {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.footer-main-category a:hover {
    color: yellow;
}