/* =============== footy-sec ============= */

.footy-sec {
	float: left;
	width: 100%;
	margin-top: 70px;
}

.footy-sec ul {
	float: left;
	margin-top: 5px;
}

.footy-sec ul li {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #ffffff;
}

.footy-sec ul li:last-child {
    border-right: none;
}

.footy-sec ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.footy-sec p img {
	padding-right: 5px;
	float: auto;
	position: relative;
	top: 6px;
}

.footy-sec p {
	float: right;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

footer {
	float: left;
	width: 100%;
	background-color: #fff;
}

.footy-sec.mn ul {
	padding: 30px 0;
}

.footy-sec.mn ul li a{
    color: #b2b2b2;
}

.footy-sec.mn ul li {
	border-color: #b2b2b2;
}

.footy-sec.mn p {
	color: #b2b2b2;
	margin-top: 30px;
}

.fl-rgt {
	float: right;
	margin-top: 34px;
	padding-right: 30px;
}

/* =============== Responsive ============= */

@media (min-width: 1200px){
    .footy-sec ul{
        width: 100%;
        text-align: center;
    }

	.fl-rgt{
        float: none;
        margin-top: 0;
        padding-bottom: 20px;
        width: auto;
        padding-right: 0;
    }

    .footy-sec.mn p{
        margin-top: 0;
        padding-bottom: 20px;
    }

	.footy-sec.mn ul{
        padding: 30px 0 25px 0;
    }

    .footy-sec p{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

	.footy-sec p img{
        float: none;
        top: 2px;
    }

	.footy-sec{
        text-align: center;
    }
}

@media (min-width: 992px){
    .footy-sec.mn ul li{
        margin-bottom: 10px;
    }

    .footy-sec ul li{
        margin-bottom: 10px;
    }
}

@media (min-width: 768px){
}

@media (min-width: 576px){
    .footy-sec{
        margin-top: 30px;
    }
}